.main {
    background-image: linear-gradient(rgba(0, 0, 0, 0.00), rgb(0, 0, 0)), url('watchflix.png');
    background-size: cover;
    height: 500px;
    background-attachment: fixed;
    background-position: center center;
}
